<ion-view title="{{'help_title' | translate}}">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">{{'about' | translate}}</div>
      <div class="item item-body">
        <div>
    Words app
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider"></div>
      <div class="item item-body">
        <div>


        </div>
      </div>
    </div>
   
<!--
      </div>
    </div>
-->
    
  </ion-content>
</ion-view>
